@using DarkDhamon.Common.Extensions
@model ProjectPortfolio.Model.Entity.Project

@{
    ViewBag.Title = $"Project: {Model.Title}";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        <span class="fw-bold">Project:</span> @Model.Title 
        (@Model.StartDate.ToString("MMM yyyy") - @(Model.EndDate?.ToString("MMM yyyy")??"Ongoing Project"))
        <a asp-action="Edit" asp-controller="Project" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text">Tags</span>
            <span class="form-control">
                @foreach (var tag in Model.Tags)
                {
                    <partial name="PageParts/_ProjectTag" model="tag"/>
                }
            </span>
        </div>
        <div id="ProjectScreenshots" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var image in Model.Images)
                {
                    <div class="carousel-item">
                        <img src="@image.ImageData" class="d-block w-100" alt="@image.AltText"/>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@image.Title</h5>
                            <p>@image.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Project Description
            </div>
            <div class="card-body">
                @Html.Raw(Model.FormattedDescription)
            </div>
            <div class="card-footer">
                @if (!Model.SourceLink.IsNullOrWhitespace())
                {
                    <a target="_blank" href="@Model.SourceLink" class="btn btn-primary">Source Code</a>
                }
                @if (!Model.DemoLink.IsNullOrWhitespace())
                {
                    <a target="_blank" href="@Model.DemoLink" class="btn btn-success">Project Demo</a>
                }
            </div>
        </div>
    </div>
</div>